@using ChatApp.Client.Models



<div class="container mt-3 chat-message @(sidingStyle)">
    <div class="@(type) mb-3 p-3 border rounded chat-container">
        <div class="d-flex justify-content-between @(type == "sent" ? "inversed" : "")">
            <div class="sender-name fw-bold">@(type == "sent" ? "You" : messageModel.User.Login)</div>
            <div class="timestamp text-muted">@timeString</div>
        </div>
        <div class="message-content mt-2">
            @messageModel.Content
        </div>
    </div>
</div>



@code {
    [Parameter, EditorRequired]
    public string type { get; set; } = "sent";

    [Parameter, EditorRequired]
    public Message messageModel { get; set; } = default!;

    [Parameter]
    public bool timeWithDate { get; set; } = false;

    private string sidingStyle = "";
    private string timeString = "";

    protected override void OnInitialized()
    {
        if (type == "sent")
            sidingStyle = "stick-right";
        else if (type == "received")
            sidingStyle = "stick-left";

        timeString = messageModel.CreatedAt.TimeOfDay.ToString("hh\\:mm") + (timeWithDate ? messageModel.CreatedAt.Date.ToString("MM-dd-yyyy") : "");
    }
}
